* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "Navegador"
    "Buscador"
    "Contenido"
    "Fin";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px calc(100vh - 100px - 100px - 100px) 100px;
}

nav {
  grid-area: Navegador;
}

section {
  grid-area: Buscador;
  background: #d2d0d0;
  display: block;
  text-align: center;
  line-height: 0%;
  padding: 20px;
}

main {
  grid-area: Contenido;
  background: white;
  padding-top: 10px;
  overflow: scroll;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 420px;
  width: 350px;
  background: white;
  text-align: center;
  line-height: 25px;
  border-radius: 25px;
  display: block;
  justify-content: center;
  margin-top: 35px;
  margin-left: 12px;
  margin-right: 12px;
}

.card p {
  font-size: 22px;
  margin-top: 10px;
}

.ver {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.ver :hover {
  background: white;
  color: blue;
}

.página {
  display: block;
  justify-content: center;
  margin-left: 100px;
  margin-top: 35px;
}

footer {
  grid-area: Fin;
  background: black;
  color: white;
  display: block;
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
      "Navegador Navegador"
      "Buscador Contenido"
      "Fin Fin";
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
  }

  main .card {
    margin-left: 100px;
  }

  main .página {
    margin-left: 200px;
  }
}

@media (min-width: 768px) {
  body {
    grid-template-areas:
      "Navegador Buscador"
      "Navegador Contenido"
      "Fin Contenido";
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
  }

  nav {
    display: flex;
    flex-direction: column;
    b
  }

  .cards {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  main .página {
    display: flex;
  }
}
